*{
  margin: 0px;
}
#navbar{
  background-color: chartreuse;
}
.learn{
  background-color: #f8f0f0;
  height: 150px;
  width: 200px;
  margin:7px;
  border-color: black;
  border-style: groove;
  margin-right: 30%;
  margin-left: 30%;
}
.container{
  margin:5px;
  border:2px solid yellow;
  width: 100px;
  height: 100px;
  display: inline-block;
}
#box1{
  background-color: rgb(51, 209, 244);
}
#box2{
  background-color: rgb(148, 255, 148);
}
.container2{
  margin:5px;
  border:2px solid yellow;
  width: 300px;
  height: 150px;
  background-color: ivory;
}
.innerdiv{
background-color: dodgerblue;
width: 50%;
height: 50%;
font-size: .8em;
}
.position{
  height:300px;
  width:550px;
  background-color: rgb(203, 249, 249);
  margin-left: 30px;
  border: 1px solid black;
  margin-bottom: 10px;
  position: relative;
}
.box{
  height: 50px;
  width: 50px;
  margin:5px;
}
#static{
  position: static;
  background-color: chartreuse;
  font-size: 50%;
  
}
#relative{
  position: relative;
  background-color: rgb(237, 204, 240);
  margin:10px;
  font-size: 50%;
  left:30px;
}
#absolute{
  position: absolute;
  background-color: rgb(247, 246, 176);
  font-size: 50%;
}
#fixed{
  position: fixed;
  background-color: rgb(237, 47, 123);
  font-size: 50%;
  top:10px;
  right: 5px;
}