*{
  margin: 0px;
}
#navbar{
  background-color: chartreuse;
}
#container1{
  width: 200px;
  height: 200px;
  background-color: rgb(10, 238, 238);
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  float: left;

}
#container2{
  float: left;
  width: 200px;
  height: 200px;
  background-color: rgb(238, 219, 10);
  margin-top: 0px;
  margin-left: 5px;
  margin-top: 10px;
}
.button{
  height: 70px;
  width: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin:100px;
  border:2px dotted red;
  border-radius: 250px;
  cursor: pointer;
}